/* header*/
header{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px;
   
}

#logo{
    height: 80px;
    width: 80px;
    overflow: hidden;
}
#logo img{
  width:100%;
}
ul{
    list-style: none;
    display: flex;
}
ul li a{
    text-decoration: none;
    padding: 25px 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: 2s ease-in-out;
}
ul li a:hover{
   background-color: rgba(0, 100, 0, 0.5);
}
#banner{
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../IMG/banner3.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 400px;
}
.banner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.About{
    margin: 50px 30px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 25px 30px;
    
}
.column-Description
{
    width: 50%; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.column-image{
    width: 600px;
    height: 400px;   
}
.column-image>img{
    width: 100%;
    height: 100%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 100, 0, 0.8);
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services div{
    width: 200px;
    height: 270px;
    background-color:white;
    color: black;
    padding: 25px;
     margin: 25px 30px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    transition: 1s ease-in-out;
}
.services div:hover{
    transform: scale(1.2);
}
.section-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.Vision{
    text-align: center;
}
.Vision a i{
background-color: rgba(0, 100, 0, 0.5);
font-size: 25px;
padding: 30px ;
border-radius: 50%;
color: white;
}
.Objectif{
text-align: center;
}
.Objectif a i{
background-color: rgba(0, 100, 0, 0.5);
font-size: 25px;
padding: 30px ;
border-radius: 50%;
color: white;
}
.Valeur{
text-align: center;
}
.Valeur a i{
background-color: rgba(0, 100, 0, 0.5);
font-size: 25px;
padding: 30px ;
border-radius: 50%;
color: white;
}
.cadre{
text-align: center;
}
.cadre a i{
background-color: rgba(0, 100, 0, 0.5);
font-size: 25px;
padding: 30px ;
border-radius: 50%;
color: white;
}